<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div id="app">
            <h1>表单操作</h1>
            <!-- 双向数据绑定 -->
            <div class="form-group">
                <label for="username">用户名：</label><input type="text" v-model="username" class="form-control" />
            </div>
            <div class="form-group">
                <label for="username">消息：</label>
                <textarea class="form-control" v-model = "msg"></textarea>
            </div>
            <label><input type="radio" v-model="gender" value="男">男</label>
            <label><input type="radio" v-model="gender" value="女">女</label>

            <div class="form-group">
                <label><input type="checkbox"v-model="hobby" true-value="laoxie"  false-value="lemon">女</label>
            </div>
            
            {{username}}-{{msg}}-{{gender}}-{{hobby}}
        </div>
    </div>
</body>
<script src="../lib/vue.js"></script>
<script type="text/javascript">
    /*
        v-model 双向数据绑定
        复选框
            *true-value = "laoxie"
            *false-value = "lemon"
     */
    let VM = new Vue({
        el:'#app',
        data:{
            username:'laoxie',
            msg:'如果你不能拼爹，那就只能拼命',
            gender:'男',
            //复选框初始值为数组：v-model与value属性绑定
            //hobby:[]
            //复选框初始值为其他数据类型：v-model与checked属性绑定（true，false）
            hobby:''
        }
    });
</script>
</html>